aws_region    = "eu-north-1"
instance_type = "t3.micro"
key_name      = "my_key_pair_ubuntu" # key pair name (no .pem)
my_ip         = "1.2.3.4/32"         # your IP from ifconfig.me
repo_url      = "https://github.com/faizandevahmad/curdoprations.git"
